Django==3.2.8
pykml
django-bootstrap-datepicker-plus==3.0.5
django-bootstrap4==2.3.1
dj_database_url==0.5.0
gunicorn
whitenoise
django-crispy-forms
django_heroku
django-fileprovider
geopy
pvlib
pyproj
psycopg2
timezonefinder
future-fstrings
calmap
