AixWeather
Django==4.2.7
django-bootstrap-datepicker-plus==5.0.4
django-bootstrap4==23.2
dj_database_url==2.1.0
gunicorn==21.2.0
whitenoise==6.6.0
django-crispy-forms==2.1
future-fstrings==1.2.0
markdown==3.5.1
config==0.5.1