{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

  {% load bootstrap4 %}
  {# Load CSS and JavaScript #}
  {% bootstrap_css %}
  {% bootstrap_javascript jquery='full' %}

  {# Display django.contrib.messages as Bootstrap alerts #}
  {% bootstrap_messages %}
  <title>EBC-Weather-Tool</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="mobile-web-app-capable" content="yes">
  <meta http-equiv="x-ua-compatible" content="IE=edge">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css" rel="stylesheet"/>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="icon" type="image/png" href="{% static 'Sun_box.png'%}">


  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>


</head>
<body>
  <div style="z-index: 1; left:100px; position:absolute; display: grid; grid-template-columns: 1fr 1fr ;">
    <div class="container_logo" >
      <a href="{% url 'converter:main' %}">
      <picture>
          <source media="(min-width: 420px)" srcset="{% static 'erc.jpg' %}">
          <img src="{% static 'erc.jpg' %}" alt="Flowers" style="width:auto;" class="center">
        </picture>
      </a>
    </div>
    <div class="container_logo">
       <a href="https://www.ebc.eonerc.rwth-aachen.de/"  target="_blank"  style="position:relative; margin-top: auto;">
         <picture>
        <source media="(min-width: 1600px)" srcset="{% static 'logo_eon_rwth.png' %}">
        <source media="(min-width: 768px)" srcset="{% static 'logo_eon_rwth_mittel.png' %}">
        <source media="(min-width: 420px)" srcset="{% static 'logo_eon_rwth_klein.png' %}">
        <img src="{% static 'logo_eon_rwth_klein.png' %}" alt="Flowers" style="width:auto;">
      </picture></a>
    </div>
  </div>
 <nav class="navbar navbar-expand-md navbar-dark bg-dark">
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
         <span class="navbar-toggler-icon"></span>
     </button>
     <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
         <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
             <li class="nav-item">
                 <a class="nav-link" href="{% url 'converter:main' %}">Main</a>
             </li>
             <li class="nav-item">
              <a class="nav-link" href="{% url 'utc_converter:main' %}">Converter</a>
          </li>
             <li class="nav-item">
                 <a class="nav-link" href="{% url 'templateapp:about' %}">About</a>
             </li>
             <li class="nav-item">
                 <a class="nav-link" href="{% url 'templateapp:contact' %}">Contact</a>
             </li>
             <li class="nav-item">
                 <a class="nav-link" href="{% url 'templateapp:privacypolicy' %}">Privacy policy</a>
             </li>
         </ul>
     </div>
 </nav>
{% block content %} {% endblock %}
</body>
<footer>
  <div class="container" style="text-align:right; max-width: 95%;">
    <a href="https://git-ce.rwth-aachen.de/ebc/ebc-general/python/ebc-weather-tool" target="_blank" style="color:white"> Learn about the API :-) </a>
  </div>
</footer>
{% block page_js %}{% endblock page_js %}

</html>
