{% extends 'templateapp/_base.html' %} {% load static %}{% block content %} 
 <main>
   <div class="container" style="margin-top:80px; z-index:-1; opacity: 1;">
       <h3>About Webframework and the templateapp</h3>
       <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
       <br>
       <h3>Discription</h3>
       <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
       <br>
       <h3>Templateapp</h3>
       <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
       <br>
       <h3>Acknowledgements</h3>
       <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
       <br>
       <h3>Disclaimer</h3> <br>
       <h4>Limitation of liability for internal content</h4>
        <div class="fliesstext" align="justify">
          The content of our website has been created with care and to the best of our knowledge. However, we cannot assume
          any liability for the currentness of data, totality or accuracy of any of the pages. <br>
          Pursuant to section 7, para. 1 of the TMG (Telemediengesetz – Tele Media Act by German law), we as service
          providers are liable for our own content on these pages in accordance with general laws. However, pursuant to
          sections 8 to 10 of the TMG, we as service providers are not under obligation to monitor external information
          provided or stored on our website. Once we have become aware of a specific infringement of the law, we will
          immediately remove the content in question. Any liability concerning this matter can only be assumed from the
          point in time at which the infringement becomes known to us. <br><br><br>
        </div>
        <h4>Limitation of liability for external links</h4>
        <div class="fliesstext" align="justify">
          Our website contains links to the websites of third parties („external links“). As the content of these websites
          is not in our hand, we cannot take any responsibility for such external content. In all cases, the provider of
          information of the linked websites is liable for the content and accuracy of the information provided. At the time
          when the links were placed, no infringements of the law were identifable to us. As soon as an infringement of the
          law becomes known to us, we will instanly take the link in question off our website.  <br><br><br>
        </div>

        <h4>Copyright</h4>
        <div class="fliesstext" align="justify">
          The content and works published on this website are governed by the copyright laws of Germany. Any duplication,
          processing, distribution or any form of utilisation beyond the scope of copyright law shall require the prior
          written consent of the author or authors in question.  <br><br><br>
        </div>

        <h4>Data protection</h4>
        <div class="fliesstext" align="justify">
          The use of our website can result in the storage on our server of information about the access (date, time, page
          accessed). This does not represent any analysis of personal data (e.g., name, address or e-mail address).
          If personal data are collected, this only occurs – to the extent possible – with the prior consent of the user of
          the website. Any forwarding of the data to third parties without the express consent of the user shall not take
          place. We would like to expressly point out that the transmission of data via the Internet (e.g., by e-mail) can
          offer security vulnerabilities. It is therefore impossible to safeguard the data completely against access by
          third parties. We cannot take any responsibility for damages arising as a result of such security vulnerabilities.
          The use by third parties of all published contact details for the purpose of advertising is expressly excluded.
          We reserve the right to take legal steps in the case of the unsolicited sending of advertising information; e.g.,
          by means of spam mail.   <br><br><br>
        </div>

        <h4>Google Analytics Disclaimer and use of cookies</h4>
        <div class="fliesstext" align="justify">
          This website uses Google Analytics, a web analytics service applied by Google, Inc. ("Google"). Google Analytics
          uses "cookies", which are text files placed on your computer to help analyse how visitors use the site. The
          information created by the cookie about your use of the website (including your IP address) will be forwarded to
          and stored by Google on servers in the United States. Google will use this information for the purpose of
          assessing your use of the website, compiling reports on website activity for website operators and supplying other
          services relating to website activity and internet usage. Google may also transmit this information to third
          parties where required to do so by law, or where such third parties process the information on Google's behalf.
          Google will not associate your IP address with any other data kept by Google. You may refuse the use of cookies by
          selecting the responsible settings on your browser, however please note that if you do so the functonalities of
          this websited may be limited. By using this website, you consent to the processing of data about you by Google in
          the manner and for the purposes set out above. You can prevent Google’s collection and use of data (cookies and
          IP address) by downloading and installing the browser plug-in available under
          <a href="https://tools.google.com/dlpage/gaoptout?hl=en"
             target="_blank">https://tools.google.com/dlpage/gaoptout?hl=en</a>.
          Please note that this website initializes Google Analytics with the setting anonymizeIp. This guarantees anonymized
          data collection by masking the last part of your IP address. Further information concerning the terms and conditions
          of use and data privacy can be found at
          <a href="http://www.google.com/analytics/terms/gb.html"
             target="_blank">http://www.google.com/analytics/terms/gb.html</a>
          or at
          <a href="http://www.google.com/intl/en_uk/analytics/privacyoverview.html"
             target="_blank">http://www.google.com/intl/en_uk/analytics/privacyoverview.html</a>.
        </div>
        <br><br>

        ©<a href="http://www.ebc.eonerc.rwth-aachen.de/"
             target="_blank">Institute for Energy Efficient Buildings and Indoor Climate</a> <br>
        RWTH Aachen University, 2020,<br>
        Email:<a href="mailto:webframework@eonerc.rwth-aachen.de">webframework@eonerc.rwth-aachen.de</a>

        <br><br>
   </div>
 </main>
 {% endblock %}
