{% extends 'templateapp/_base.html' %} {% load static %}{% block content %}
 <main>
   <div class="container" style="margin-top:80px; z-index:-1; opacity: 1; text-align:center;">
     <h1>Contact</h1>
     <br>
     <br>
     <p>This tool was developed by E.ON Energy Research Center, <br>Institute for Energy Efficient Buildings and Indoor Climate at RWTH Aachen University, Germany.</p>
     <br>
     <br>
     <div class="row">
      <div class="col-sm-6 center" style="margin: 0 auto; width: 100px;">
       <div class="alert alert-dark">
        <p><strong>If you have questions, please contact us:</strong></p>
        <p><a href="mailto:post_ebc@eonerc.rwth-aachen.de?subject= webframe software">aixweather@eonerc.rwth-aachen.de</a></p>
       </div>
      </div>
     </div>
     <br>
     <br>
     <div class="row">
      <div class="col-sm-6 center" style="margin: 0 auto; width: 100px;">
       <div class="alert alert-dark">
        <p><strong>RWTH Aachen University</strong><br>
        <a href="https://www.ebc.eonerc.rwth-aachen.de/"><strong>E.ON Energy Research Center</strong></a><br>
        Institute for Energy Efficient Buildings and Indoor Climate<br>
        Mathieustr. 10<br>
        52074 Aachen<br>
        Germany</p>
       </div>
      </div>
     </div>
   </div>
 </main>
{% endblock %}
