{% extends 'templateapp/_base.html' %} {% load static %} {% block content %}

  <ul class="nav nav-pills align-items-end nav-fill nav-expand mb-3 responsive" id="pills-tab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Location</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Demands</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Technical parameter</a>
  </li>
   <li class="nav-item">
    <a class="nav-link" id="pills-economical-tab" data-toggle="pill" href="#pills-economical" role="tab" aria-controls="pills-economical" aria-selected="false">Economical parameter</a>
  </li>
</ul>

<div class="container" style="margin-top:50px;">
   <div class="progress">
          <div class="progress-bar progress-bar-striped" id="progress" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width:25%; background-color: #808080;">
            25%
          </div>
        </div>
</div>
<main>
<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
       <div class="container" style="margin-top:50px; z-index:2;">
       <div class="row">
         <div>
           <h2>Select a location</h3>
         </div>
       </div>
       <div class="row">
         <div>
           <div class="dropdown">
            <button type="button" class="btn btn-primary dropdown-toggle" style="background-color: #808080; border: none;" data-toggle="dropdown">
              Dropdown button
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Link 1</a>
              <a class="dropdown-item" href="#">Link 2</a>
              <a class="dropdown-item" href="#">Link 3</a>
            </div>
          </div>
         </div>
         <br><br><br>
         <p>1 Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
       </div>
     </div>
  </div>
  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
    <div class="container" style="margin-top:50px; z-index:2;">

         <div class="row">
           <div>
             <h2>DEMANDS</h2>
           </div>
           <p>1 Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
         </div>
       </div>
    </div>
  <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
    <div class="container" style="margin-top:50px; z-index:2;">

       <div class="row">
         <div>
           <h2>TECHNICAL</h2>
         </div>
         <p>1 Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
       </div>
     </div>
  </div>
  <div class="tab-pane fade" id="pills-economical" role="tabpanel" aria-labelledby="pills-economical-tab">
    <div class="container" style="margin-top:50px; z-index:2;">

       <div class="row">
         <div>
           <h2>ECONOMICAL</h2>
         </div>
         <p>1 Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
       </div>
     </div>
  </div>
</div>
 </main>
 <div class="container" id="result">
   <a href="#" id="test"><button class="button button2" id="next_button" style="float: right;">Next</button></a>
   <button class="button button2" id="back_button" style="float: left;">Back</button>
 </div>
{% endblock %}
