{% extends 'templateapp/_base.html' %} {% load static %}{% block content %}
    <main>
        <br>
        <br>
        <br>
        <div class="container" style="margin-top:80px; z-index:-1; opacity: 1; text-align:center;">
            <div class="container">
                <h1 style="text-align: left; margin-top:2rem">Imprint</h1>

                <h3 style="text-align: left; margin-top:5rem">Publisher</h3>
            </div>
            <div class="container">

                <p style="text-align: left">
                    <b> RWTH Aachen University <br>
                        E.ON Energy Research Center <br>
                        Institute for Energy Efficient Buildings and Indoor Climate (EBC) <br>
                        Mathieustraße 10<br>
                        52074 Aachen<br>
                        E-Mail: <a href="mailto:ebc-tools@eonerc.rwth-aachen.de">ebc-tools@eonerc.rwth-aachen.de</a>
                    </b>
                </p>
            </div>
        </div>
    </main>
{% endblock %}
