{% extends 'templateapp/_base.html' %} {% load static %} {% block content %}
 <main>
 <div class="container" style="margin-top:80px; z-index:-1; opacity: 1;">
   <div class="row">
     <div style="text-align:center;">
       <h2>PROJECT NAME</h2>
       <br>
       <br>
       <br>
       <p>1 Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>

     </div>
   </div>
 </div>
 </main>
 <div class="container">
   <a  href="{% url 'templateapp:progressurl' %}" class="button button2" role="button" id="index_button" style="float: right;;color:#FFFFFF;">Next</a>
 </div>
{% endblock %}
